<div class="card hhax-card">
  <tabset class="tabs hhax-tabs">
    <tab
      heading="Medicals/Other Compliance Renewals"
      id="tab1"
      class="tabs-title"
      class="tabs-content hhax-tabs-content"
    >
      <app-search-section></app-search-section>
    </tab>
    <tab
      heading="Upcoming I-9 Renewals"
      id="tab1"
      class="tabs-title"
      class="tabs-content hhax-tabs-content"
    >
      <app-search-section></app-search-section>
    </tab>
    <tab
      heading="Expiring Authorizations"
      id="tab1"
      class="tabs-title"
      class="tabs-content hhax-tabs-content"
    >
      <app-search-section></app-search-section>
    </tab>
  </tabset>
</div>
