<div class="grid-container fluid hhax-main-content" id="mainContent">
  <div class="grid-x grid-margin-x hhax-page-header">
    <div class="cell medium-6 large-9">
      <h1>Worklists</h1>
    </div>
    <div class="cell medium-6 large-3">
      <!--<buttn class="button primary float-right" data-open="newWorklistModal">New Worklist Task</buttn>-->
    </div>
  </div>
  <div class="grid-x grid-margin-x hhax-container">
    <div class="cell medium-12 large-12">
      <div class="card hhax-card"><app-tabs></app-tabs></div>
      <div class="card hhax-card"></div>
    </div>
  </div>

  <!-- <ng-multiselect-dropdown></ng-multiselect-dropdown> -->
</div>
